<main class="p-4">
    <h1 class="py-3">Avisos Legales</h1>
  
    <h2>Política de Privacidad</h2>
    <p>
      Corazón de SurOeste respeta su privacidad. Esta política describe cómo recopilamos,
      utilizamos y protegemos la información personal que nos proporciona.
    </p>
  
    <h3>Información que recopilamos:</h3>
    <p>
      Cuando nos envía un correo electrónico a [dirección de correo electrónico],
      recopilamos su nombre y dirección de correo electrónico. Esta información solo
      se utiliza para responder a sus consultas y mantenerle informado sobre nuestras actividades,
      siempre y cuando haya iniciado el contacto.
    </p>
  
    <h3>Cómo utilizamos su información:</h3>
    <p>Utilizamos su información únicamente para:</p>
    <ul>
      <li>
        Responder a sus correos electrónicos: Su correo electrónico y los datos que nos proporciones
        se almacenan en nuestra cuenta de Gmail con el único propósito de mantener un registro de
        nuestras conversaciones y poder ofrecerle una mejor atención.
      </li>
      <li>
        Enlaces a plataformas externas: Nuestra página web contiene enlaces a plataformas externas
        como YouTube, Spotify e Instagram. Al hacer clic en estos enlaces, será redirigido a los
        sitios web de estas empresas. Le recomendamos que consulte las políticas de privacidad de
        estas plataformas para obtener más información sobre cómo recopilan y utilizan sus datos.
      </li>
    </ul>
  
    <h3>Compartir su información:</h3>
    <p>
      No compartimos su información personal con terceros, excepto en el caso de que sea requerido
      por ley.
    </p>
  
    <h3>Seguridad de su información:</h3>
    <p>
      Utilizamos los servicios de Gmail para gestionar nuestros correos electrónicos. Gmail
      cuenta con medidas de seguridad para proteger sus datos personales. Sin embargo, es importante
      tener en cuenta que la transmisión de información a través de Internet no es completamente segura y,
      aunque haremos todo lo posible para proteger sus datos, no podemos garantizar la seguridad de la
      información que nos transmite.
    </p>
  
    <h3>Tus derechos:</h3>
    <p>
      Tiene derecho a acceder, rectificar y suprimir tus datos personales. Para ejercer estos derechos,
      puede ponerse en contacto con nosotros a través de [dirección de correo electrónico]. Tenga
      en cuenta que la eliminación de sus datos implicará la eliminación de todo el historial de nuestra
      conversación.
    </p>
  
    <h2>Política de Cookies</h2>
    <h3>¿Qué son las cookies?</h3>
    <p>
      Las cookies son archivos que se pueden descargar en su equipo a través de las páginas web.
      Son herramientas que tienen un papel esencial para la prestación de numerosos servicios de
      la sociedad de la información. Entre otros, permiten a una página web almacenar y recuperar
      información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la
      información obtenida, se pueden utilizar para reconocer al usuario y mejorar el servicio ofrecido.
    </p>
  
    <p>Esta página web no recopila cookies de ningún tipo.</p>
  
    <p>
      Al contener enlaces a otras páginas webs de terceros, Corazón de SurOeste no se hace responsable
      del uso, tratamiento ni gestión que estas puedan hacer de las cookies recopiladas por estas
      websites de terceros.
    </p>
  
    <h3>Cambios en esta política:</h3>
    <p>
      Podemos actualizar esta política de privacidad ocasionalmente. Te recomendamos que
      revises esta página periódicamente para estar informado de cualquier cambio.
    </p>
  </main>