<main>
    <h2>Biografía</h2>
    <div class="">
        <div class="img-bio pb-3">
            <img src="./assets/images/portadajr.PNG" alt="retrato artista en chimenea">
        </div>
        <p>
            <span>José Ramón López Mínguez</span>, conocido como <span>"Corazón de SurOeste"</span>, es tanto médico como apasionado
        músico country, fusionando su dedicación a la medicina con la vibrante escena musical. Nacido en Madrid y afincado en Extremadura 
        tras finalizar su especialidad de Cardiología en Madrid, Corazón del Suroeste refleja la serenidad de la región en su música, inspirado
        por figuras legendarias como como Neil Young, Paul Simon y Willie Nelson.
        </p>
        <p>
            A lo largo de su carrera, José Ramón ha equilibrado con maestría su vocación médica con su amor por la
            música. La grandiosidad de los paisajes de Extremadura se refleja en sus letras y acordes, creando una
            conexión única con su tierra adoptiva. Su nombre artístico, "Corazón de Suroeste", rinde homenaje a su
            doble vida como cardiólogo y músico, destacando su profundo arraigo a la región que ama.
        </p>
        <p>
            Más allá de sus habilidades musicales, Corazón del Suroeste ha dedicado algunas de sus emotivas
            canciones a su familia. Cada melodía es un regalo personal, tejiendo su vida cotidiana con la música y
            compartiendo con sus seres queridos. Su arte trasciende las fronteras, transportando a los oyentes a
            los campos dorados de Extremadura y revelando la autenticidad de su ser. La combinación de elementos de 
            un country suave y de baladas cargadas de melancolía definen su música, rellenando un cautivador vacio
            en la esfera musical actual. 
        </p>
        <p>
            En la dualidad de sus roles, Corazón del Suroeste ofrece una experiencia única. Su música no solo es
            un testimonio de talento, sino también una expresión de amor por la <span>familia y la tierra</span> que lo
            vio desarrollarse a nivel profesional y personal. Su habilidad para integrar la
            medicina (en la actualidad es jefe de Cardiología del Hospital Universitario de Badajoz y
            profesor titular de Cardiología de la UEX) y la música lo convierte en un artista único, cuya obra
            resuena con la esencia del suroeste y toca los corazones de aquellos que lo escuchan.
        </p>
        <p>
            Para mediados del 2024 se espera su tercer álbum titulado “May I ask you” (puedo
            preguntarte) donde de nuevo mezcla temas en inglés y en español manteniendo un estilo
            seductor que atrapa al oyente romántico y nostálgico de baladas bucólicas.
        </p>
    </div>
    <h2>Discografía</h2>
    <div id="discografia">
        <div class="card mb-3">
            <a href="https://open.spotify.com/intl-es/album/2IIRERnEi0cuxMND1a0UpF">
                <img src="./assets/discografia/lovingYou.jpg" class="card-img-top" alt="carátula segundo album">
            </a>
            <div class="card-body">
              <h5 class="card-title">Loving You</h5>
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text"><small class="text-body-secondary">30 de junio de 2023</small></p>
            </div>
        </div>
        <div class="card mb-3">
            <a href="https://open.spotify.com/intl-es/album/6au8RkxxK2n8w0GXauL4Sg">
                <img src="./assets/discografia/turningBackHome.jpg" class="card-img-top" alt="carátula primer album">
            </a>
            <div class="card-body">
              <h5 class="card-title">Turning Back Home</h5>
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text"><small class="text-body-secondary">28 de octubre de 2021</small></p>
            </div>
        </div>
    </div>
    <!-- <h2>Imágenes y vídeos</h2>
    <div></div> -->
</main>






