<main>
    <h2>Biografía</h2>
    <div class="">
        <p>
        José Ramón López Mínguez, conocido como "Corazón del Suroeste", es tanto médico como apasionado
        músico country, fusionando su dedicación a la medicina con la vibrante escena musical. Nacido en Madrid y
        criado en Extremadura, Corazón del Suroeste refleja la serenidad de la región en su música, inspirado
        por figuras legendarias como Johnny Cash y Willie Nelson.
        </p>
        <p>
            A lo largo de su carrera, José Ramón ha equilibrado con maestría su vocación médica con su amor por la
            música. La vastedad de los paisajes extremadurenses se refleja en sus letras y acordes, creando una
            conexión única con su tierra natal. Su nombre artístico, "Corazón del Suroeste", rinde homenaje a su
            doble vida como cardiólogo y músico, destacando su profundo arraigo a la región que ama.
        </p>
        <p>
            Más allá de sus habilidades musicales, Corazón del Suroeste ha dedicado algunas de sus emotivas
            canciones a su familia. Cada melodía es un regalo personal, tejiendo su vida cotidiana con la música y
            compartiendo con sus seres queridos. Su arte trasciende las fronteras, transportando a los oyentes a
            los campos dorados de Extremadura y revelando la autenticidad de su ser. 
        </p>
        <p>
            En la dualidad de sus roles, Corazón del Suroeste ofrece una experiencia única. Su música no solo es
            un testimonio de talento, sino también una expresión de amor por la familia y la tierra que lo vio
            crecer. Su habilidad para integrar la medicina y la música lo convierte en un artista único, cuya
            obra resuena con la esencia del suroeste y toca los corazones de aquellos que lo escuchan.
        </p>
    </div>
    <h2>Discografía</h2>
    <div></div>
    <h2>Imágenes y vídeos</h2>
    <div></div>
</main>






