<nav class="navbar navbar-dark bg-dark black-shadow navbar-img" id="top">
    <div class="container-fluid">
      <div class="d-flex text-white space-letters name" (click)="hambClicked('inicio')">Corazón de SurOeste</div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDropdown" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
</nav>
<div class="collapse black-shadow bg-white position-absolute end-0" id="navbarDropdown">
    <div class="d-flex flex-column text-end padding-dropdown space-letters py-3">
        <div (click)="hambClicked('inicio')">Inicio</div><hr/>
        <div (click)="hambClicked('discografia')">Discografía</div><hr/>
        <div (click)="hambClicked('biografia')">Biografía</div><hr/>
        <div (click)="scrollToBottom()">Contacto</div>
    </div>
</div>

