<nav class="navbar navbar-dark bg-dark black-shadow navbar-img" id="top">
    <div class="container-fluid">
      <div class="d-flex text-white space-letters name ps-3" (click)="hambClicked('inicio')">
        <h1>
          Corazón<br>
        de SurOeste
        </h1>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDropdown" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
</nav>
<div class="collapse black-shadow bg-white position-absolute end-0" id="navbarDropdown">
    <div class="d-flex flex-column text-end padding-dropdown space-letters py-3">
        <div (click)="hambClicked('inicio')">I n i c i o</div><hr/>
        <div (click)="hambClicked('discografia')">D i s c o g r a f í a</div><hr/>
        <div (click)="hambClicked('biografia')">B i o g r a f í a</div><hr/>
        <div (click)="scrollToBottom()">C o n t a c t o</div>
    </div>
</div>

